@import url("https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap");

body {
  background-color: rgb(169, 214, 224);
  font-family: "Martel", serif;
}

button:hover {
  background-color: black;
  box-shadow: tomato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(168, 168, 168);
}

p {
  color: #75bbbb;
  position: relative;
  bottom: 2.2rem;
  font-size: 10px;
}

.container {
  position: relative;
  padding: 10px 0 0 30px;
  background-color: white;
  left: 3rem;
  bottom: 2rem;
  top: 10rem;
  width: 700px;
  height: 350px;
  border-radius: 1rem;
}

.tip-cal {
  position: absolute;
  padding: 10px 0 0 30px;
  background-color: #0a5555;
  width: 310px;
  height: 320px;
  border-radius: 1rem;
  left: 23rem;
  bottom: 1rem;
}

button {
  position: relative;
  width: 75px;
  height: 40px;
  border: none;
  background-color: #0a5555;
  border-radius: 5px;
  bottom: 1.2rem;
  color: white;
  font-size: large;
}

.btn25,
.btn50 {
  position: relative;
  top: -1rem;
}

.btn15 {
  background-color: #75bbbb;
}

input {
  background-color: #f1f4f6;
  border: none;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  text-align: end;
  color: #4f8a8a;
  font-family: "Martel", serif;
  font-size: large;
  padding: 0 15-px 0 0;
}

.bill {
  position: relative;
  bottom: 1.3rem;
}

.tip-amount {
  color: white;
}

.amount-value {
  color: #75bbbb;
  font-size: xx-large;
  position: relative;
  left: 8rem;
}

.total {
  color: white;
}

.total-value {
  color: #75bbbb;
  font-size: xx-large;
  position: relative;
  left: 11rem;
}

.custom {
  position: relative;
  width: 65px;
  height: 30px;
  top: -1rem;
  font-size: small;
}

.reset {
  background-color: #75bbbb;
  position: relative;
  width: 230px;
  top: 0.5rem;
  left: 10%;
}
.number-people {
  position: relative;
  bottom: 1.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 45rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
